#Ignore Python virtual environments
venv/
.env/

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Ignore temporary files
*.tmp
*.swp
*.bak
*.~ 
*.DS_Store
Thumbs.db
feature/multiply_dvide
